/* import font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* shared styles section */
.body {
     font-family: "Mulish", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
}
.btn-primary{
     border-radius: 10px;
background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
width: 170px;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.btn-primary> img{
width: 24px;
height: 24px;
flex-shrink: 0;
}
.main{
     margin-left: 135px;
     margin-right: 135px;
}
/* primary text */
.title-primary{
color: #FABE4C;
font-size: 80px;
font-weight: 400;
text-transform: uppercase;

}
.second-title{
color: #363958;
font-size: 80px;
font-weight: 400;
text-transform: uppercase;
}
.pirnary-text{
color: #3E3E3E;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
}


/* nav styles section */

   .nav-continer {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.title {
     display: flex;
     align-items: center;

}

.title>img {
     width: 48px;
     height: 56.008px;

}

.nav-title {
     color: #131318;
     font-weight: 800;
     font-size: 2.2rem;
}

.color {
     color: #FF5400;
     font-weight: 800;
     font-size: 2.2rem;
}

.nav>ul {
     display: flex;
}

.nav li {
     list-style: none;
     margin-right: 44px;
}

.nav a {
     text-decoration: none;
     color: #424242;
     text-align: center;
     font-size: 1rem;
     font-weight: 400;
}

.primary-text {
     color: #FF5400;
     text-align: center;
     font-size: 18px;
     font-weight: 700;

}
/* this is the banner section */
.header{
     background: #FFFBF0;
}
/* this is the cared section  */
.cared{
     border-radius: 20px;
background: #FFF;
box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);

}
